<template lang="pug">
footer.footer
    .container
        a Prefeitura da Cidade do Rio de Janeiro
        span  |
        a  Instituto Pereira Passos
        div.pull-right
          span Fonte:
          b  Instituto Pereira Passos - IPP 
          span a partir dos dados do 
          b IBGE - Sinopse Censo 2010
    //- footer
    //-   v-layout(row)
    //-       v-flex(xs5)
    //-         a Prefeitura da Cidade do Rio de Janeiro 
    //-         span | 
    //-         a  Instituto Pereira Passos
    //-       v-flex(xs7).fonte
    //-         span Fonte: 
    //-           b Instituto Pereira Passos - IPP 
    //-           span partir dos dados do 
    //-           b IBGE - Sinopse Censo 2010
</template>

<script>
  export default {
    props: [],
    mounted () {
    },
    data () {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="stylus">
    footer {
      height:60px;
      margin-top: 20px;
    }
    a{
      cursor: pointer;
      text-decoration: none;
    }
    .fonte{
      text-align: right;
    }
</style>
