<template lang="pug" >
nav.navbar.navbar-default
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#header', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#")
                img.logo(:src="img")
        #header.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#') Sobre o BDA
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#') Instruções de Uso
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#') Informativo Impresso
</template>

<script>
export default {
  data: () => {
    return {
      msg: 'Welcome to Your Vue.js App',
      img: 'https://armazemdados.img.com.br/bda/static/img/logo.png'
    }
  },
  mounted: () => {
  }
}
</script>

<style scoped lang="stylus">
    .logo{
        width: 250px;
    }
    .nav-item a{
        color:white !important;
        font-size: 1.1rem;
    }
    .navbar-default{
        background-color : #77abab;
    }
    .navbar-brand{
        height: initial;
    }
    .nav > li > a {
        margin-top: 10px;
        color:white ;
    }
    .nav > li > a:hover {
        color:white ;
    }
    .navbar {
        margin-bottom: 0px;
        border: 0px solid transparent;
        border-radius: 0px;
        background-color : #77abab;
        height: 110px;
    }
    .container{
        padding-top: 20px;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
        color: #fff;
	}
    .navbar-default .navbar-nav > li > a[data-v-71bc3ba2]:hover, .navbar-default .navbar-nav > li > a[data-v-71bc3ba2]:focus{
        border-bottom: 2px solid #45625f;
    } 
</style>
