<template lang="pug" >
    nav.navbar.navbar-default
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav-menu', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            #nav-menu.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.ativo
                        a(href='#') Censo
                    li
                        a(href='#') Censo Escolar
                    li
                        a(href='#') IDEB
                    li
                        a(href='#') IPTU
                    li
                        a(href='#') ISS
                    li
                        a(href='#') ITBI
                    li
                        a(href='#') Produção Imobiliária  
                    li
                        a(href='#') RAIS
                    li
                        a(href='#') SIM
                    li
                        a(href='#') SINASC
                    li
                        a(href='#') Taxa de Distorção
                    li
                        a(href='#') Taxa de Rendimento
</template>

<script scoped>
export default {
  data: function () {
    return {
      activeIndex: '1'
    }
  },
  mounted: function () {
  },
  methods: {
    handleSelect: function (key, keyPath) {
      this.activeIndex = key.toString()
    }
  }
}
</script>

<style scoped lang="stylus">
    li {
        display: initial;
        margin: initial;
    }
    .container{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .navbar-default{
        background-color : #45625f;
    }
    .navbar {
        border-radius: 0px;
        height: 62px;
    }
    @media (max-width: 1199px){
        .navbar {
            border-radius: 0px;
            height: 110px;
        }
    }
    .navbar-default .navbar-nav > li > a {
        color: white;
    }
    .nav > li:hover {
        border-bottom: 2px solid #77abab;
    }
    .navbar{
        margin-bottom: 0px;
        border: 0px solid transparent;
    }
    .ativo {
        border-bottom: 2px solid #77abab;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        background-color: transparent;
    }
</style>
