<template lang="pug" >
  #app
    h1 Censo
    
    mapa
</template>

<script>
export default {
  data: () => {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  mounted: () => {
  }
}
</script>

<style scoped>

</style>
