<template lang="pug">
.mapa
  .container
    .row
      .col-md-12
        form.form-inline.pull-right(role='form')
          .form-group.btn-group
            .dropdown
              button#dropdownMenu1.btn.btn-default.dropdown-toggle(v-bind:class="{ 'disabled': tipoRecorteGeografico == undefined }", type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                .row
                  .col-md-8.text-left.tipo Última visão
                .row
                  .col-md-8.text-left 
                    b {{anoSelecionado}}
                  .col-md-3.text-right.col-icon
                    icon(name='chevron-down').tipo
              ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                li(v-for="item in listaUltimaVisao")
                  a(href='#', @click="anoSelecionado = item;ano()")
                    b {{item}}
        form.form-inline.pull-right(role='form').espaco-dropdown
          .form-group.btn-group
            .dropdown
              button#dropdownMenu1.btn.btn-default.dropdown-toggle(v-bind:class="{ 'disabled': tipoRecorteGeografico == undefined }", type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                .row
                  .col-md-8.text-left.tipo Campos
                .row
                  .col-md-8.text-left 
                    b {{campoSelecionado}}
                  .col-md-3.text-right.col-icon
                    icon(name='chevron-down').tipo
              ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                li(v-for="item in campos")
                  a(href='#', @click="campoSelecionado = item.nome; campoPesquisa = item") 
                    b {{item.nome}}
        form.form-inline.pull-right(role='form').espaco-dropdown
          .form-group.btn-group
            .dropdown
              button.disabled#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                .row
                  .col-md-8.text-left.tipo Tabela
                .row
                  .col-md-8.text-left 
                    b Espécie de Domicílio
                  .col-md-3.text-right.col-icon
                    icon(name='chevron-down').tipo
              ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                li
                  a(href='#') 
                    b Espécie de Domicílio
        form.form-inline.pull-right(role='form').espaco-dropdown
          .form-group.btn-group
            .dropdown
              button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                .row
                  .col-md-9.text-left.tipo Recorte Geográfico
                  .col-md-3.text-right
                .row
                  .col-md-8.text-left 
                    b {{recorteGeografico}}
                  .col-md-3.text-right.col-icon
                    icon(name='chevron-down').tipo
              ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                li
                  a#bda_ap(target='0', v-show="recorteGeografico != 'Área de Planejamento'", @click="recorteGeografico = 'Área de Planejamento'; tipoRecorteGeografico=0") 
                    b Área de Planejamento
                li
                  a#bda_b(target='1', v-show="recorteGeografico != 'Bairro'", @click="recorteGeografico = 'Bairro'; tipoRecorteGeografico=1") 
                    b Bairro
                li
                  a#bda_ra(target='2', v-show="recorteGeografico != 'Região Administrativa'", @click="recorteGeografico = 'Região Administrativa'; tipoRecorteGeografico=2") 
                    b Região Administrativa
                li(v-show="false")
                  a#ano a
  #viewDiv
  pesquisa(:tipoCenso="tipoRecorteGeografico", @comboUltimaVisao="carregarUltimaVisao", :ultimaVisao="anoSelecionado", :campoPesquisa="campoPesquisa")
</template>

<script>
import * as esriLoader from 'esri-loader'
export default {
  data () {
    return {
      chart: 'table',
      dados: [],
      Feature: undefined,
      map: undefined,
      total: {
        permanentes: 0,
        improvisados: 0,
        coletivos: 0,
        particulares: 0
      },
      recorteGeografico: 'Selecione um recorte...',
      tipoRecorteGeografico: undefined,
      listaUltimaVisao: [],
      anoSelecionado: 'Selecione um ano...',
      campos: [{nome: 'Permanentes', codigo: 'PartPermanentes'}, {nome: 'Improvisados', codigo: 'PartImprovisados'}, {nome: 'Coletivos', codigo: 'Coletivos'}, {nome: 'Particulares', codigo: 'TotalParticulares'}],
      campoSelecionado: 'Selecione um campo...',
      campoPesquisa: undefined,
      buscou: false
    }
  },
  mounted () {
    this.init()
  },
  methods: {
    init () {
      this.createMap()
    },
    createMap () {
      const createMap = () => {
        esriLoader.dojoRequire([
          'esri/Map',
          'esri/views/SceneView',
          'esri/layers/FeatureLayer',
          'dojo/on',
          'dojo/dom'
        ], (EsriMap, SceneView, FeatureLayer, on, dom) => {
          let map = new EsriMap({
            basemap: 'topo'
          })
          const view = new SceneView({
            container: 'viewDiv',
            map: map,
            zoom: 10,
            center: [-43.4645322, -22.9147018]
          })
          this.map = map
          this.Feature = FeatureLayer
          on(dom.byId('bda_ap'), 'click', this.carregarCamada)
          on(dom.byId('bda_b'), 'click', this.carregarCamada)
          on(dom.byId('bda_ra'), 'click', this.carregarCamada)
          on(dom.byId('ano'), 'click', this.carregarCamadaPorAno)

          return view
        })
      }
      if (!esriLoader.isLoaded()) {
        esriLoader.bootstrap((err) => {
          if (err) {
            console.error(err)
          } else {
            createMap()
          }
        }, {
          url: 'https://js.arcgis.com/4.4/'
        })
      } else {
        createMap()
      }
    },
    carregarCamada () {
      if (this.tipoRecorteGeografico !== undefined && this.campoPesquisa !== undefined && this.anoSelecionado !== 'Selecione um ano...') {
        this.anoSelecionado = 'Selecione um ano...'
        this.listaUltimaVisao = []
        this.buscou = true
        let featureLayer = new this.Feature('https://armazemdados.img.com.br/server/rest/services/BDA/BDA_PILOTO/MapServer/' + this.tipoRecorteGeografico, {
          mode: this.Feature.MODE_ONDEMAND,
          outFields: ['*']
        })
        this.map.add(featureLayer)
      }
    },
    carregarCamadaPorAno () {
      if (this.tipoRecorteGeografico !== undefined && this.campoPesquisa !== undefined && this.anoSelecionado !== 'Selecione um ano...') {
        let featureLayer = new this.Feature('https://armazemdados.img.com.br/server/rest/services/BDA/BDA_PILOTO/MapServer/' + this.tipoRecorteGeografico, {
          mode: this.Feature.MODE_ONDEMAND,
          outFields: ['*']
        })
        this.map.add(featureLayer)
      }
    },
    carregarUltimaVisao (response) {
      this.listaUltimaVisao = response
    },
    ano () {
      let ano = document.getElementById('ano')
      ano.click()
    }
  }
}
</script>

<style scoped>
  @import url('https://js.arcgis.com/4.4/esri/css/main.css');
  li {
      display: initial;
      margin: initial;
  }
  #viewDiv {
    height: 350px;
    width: 100%;
    top: -55px;
    position: relative;
  }
  .container {
    top: 20px;
    position: relative;
    z-index: 10;
  }
  .espaco-dropdown {
    margin-right: 10px;
  }
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: white;
  }
  .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
  }
  .btn{
    font-size: 11px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px 6px;
    min-width: 192px;
    min-height: 49px;
  }
  .col-icon{
    padding-right: 0px;
    top: -8px;
  }
  .tipo {
    color: #989898;
  }
  .dropdown-menu {
    font-size: 11px;
    min-width: 192px;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
  }
  a{
      cursor : pointer;
  }
  .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
      color: #333;
      background-color: #ffffff;
      border-color: #ffffff;
  }
  .btn-default.active, .btn-default:active, .btn-default:hover, .open>.dropdown-toggle.btn-default {
      color: #333;
      background-color: #ffffff;
      border-color: #ffffff;
  }
  .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus {
      background-color: #fff;
      border-color: #fff;
  }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
      opacity: 1;
  }
	.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #7bafad;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		-webkit-animation: spin-data-v-4594ac67 1.5s linear infinite;
		animation: spin-data-v-4594ac67 1.5s linear infinite;
		margin :auto;
	}
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
</style>
