<template lang="pug" >
.pesquisa
    nav.navbar.navbar-default
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#pesquisa', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            #pesquisa.collapse.navbar-collapse
                form.navbar-form.navbar-left
                    .form-group
                        .input-group
                            .input-group-addon
                                icon(name='search' scale="1")
                            input#input-pesquisa.form-control(type='text', placeholder='Pesquisar...')
                ul.nav.navbar-nav.navbar-right(@click="chart='line'")
                    li(v-bind:class="{ 'item-active': chart == 'line' }")
                        a
                            icon(name='line-chart')
                ul.nav.navbar-nav.navbar-right(@click="chart='column'")
                    li(v-bind:class="{ 'item-active': chart == 'column' }")
                        a
                            icon(name='bar-chart')
                ul.nav.navbar-nav.navbar-right(@click="chart='area'")
                    li(v-bind:class="{ 'item-active': chart == 'area' }")
                        a
                            icon(name='area-chart')
                ul.nav.navbar-nav.navbar-right(@click="chart='pie'")
                    li(v-bind:class="{ 'item-active': chart == 'pie' }")
                        a
                            icon(name='pie-chart')
                ul.nav.navbar-nav.navbar-right(@click="chart='table'")
                    li(v-bind:class="{ 'item-active': chart == 'table' }")
                        a
                            icon(name='table' scale="1")
    .container.container-body
        bda-table(v-if="chart == 'table'", :tipoCenso="tipoCenso", v-on:ultimaVisao="carregarUltimaVisao", :ultimaVisao="ultimaVisao", :campoPesquisa="campoPesquisa", :exportar="exportar")
        bda-pie-chart(v-if="chart == 'pie'", :tipoCenso="tipoCenso", v-on:ultimaVisao="carregarUltimaVisao", :ultimaVisao="ultimaVisao", :campoPesquisa="campoPesquisa", :exportar="exportar")
        bda-line-chart(v-if="chart == 'line'", :tipoCenso="tipoCenso", v-on:ultimaVisao="carregarUltimaVisao", :ultimaVisao="ultimaVisao", :campoPesquisa="campoPesquisa", :exportar="exportar")
        bda-column-chart(v-if="chart == 'column'", :tipoCenso="tipoCenso", v-on:ultimaVisao="carregarUltimaVisao", :ultimaVisao="ultimaVisao", :campoPesquisa="campoPesquisa", :exportar="exportar")
        bda-area-chart(v-if="chart == 'area'", :tipoCenso="tipoCenso", v-on:ultimaVisao="carregarUltimaVisao",:ultimaVisao="ultimaVisao", :campoPesquisa="campoPesquisa", :exportar="exportar")
</template>

<script>

export default {
  props: ['tipoCenso', 'ultimaVisao', 'campoPesquisa'],
  data: () => {
    return {
      chart: 'table',
      exportar: undefined
    }
  },
  mounted: () => {
  },
  methods: {
    exportarExcel () {
      if (this.tipoCenso >= 0) {
        this.exportar = Math.random()
      }
    },
    carregarUltimaVisao (response) {
      this.$emit('comboUltimaVisao', response)
    }
  }
}
</script>

<style scoped lang="stylus">
    li {
        display: initial;
        margin: initial;
    }
    a{
        cursor : pointer;
    }
    .container{
        background-color: white;
        position: relative;
        margin-top: -85px;
        padding: 0;
        margin-bottom: 11px;
        font-size: 11px;
    }
    .container-body{
        padding: 30px 20px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1) !important;
        min-width: 360px;
    }
    .input-group {
        padding-top: 9px;
    }
    .navbar-default {
        background-color: #f2f5f5;
        border: 0px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 0px;
    }
    .input-group-addon{
        background-color : white;
        color:#999999;
        border: inherit;
        padding-right:0px;
    }
    .form-control {
        border: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        -webkit-transition: inherit;
        transition: inherit;
        padding-left:5px;
    }
    .navbar-default .navbar-nav > li > a {
        padding-top: 20px !important;
        height: 54px;
    }
    .navbar-default .navbar-nav > li:hover {
        background-color: #7bafad;
        color:white;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: white !important;
        background-color: #7bafad;
    }
    .navbar{
        margin-bottom: 6px;
    }
    .item-active a{
        background-color: #7bafad;
        color:white !important;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
</style>
