<template lang="pug">
.row
    .col-md-12.text-center(v-if="tipoCenso == undefined || ultimaVisao == 'Selecione um ano...' || campoPesquisa == undefined")
      i.text-center Você ainda não selecionou nenhuma opção de busca.
    .col-md-8(v-if="tipoCenso >= 0 && ultimaVisao !== 'Selecione um ano...' && campoPesquisa !== undefined")
      .loader(v-if="line.length == 0")
      line-chart(:data="line", :colors="['#7bafad']")
    .col-md-4(v-if="tipoCenso >= 0 && ultimaVisao !== 'Selecione um ano...' && campoPesquisa !== undefined")
      .loader(v-if="dados.length == 0")
      table.table.table-striped(v-if="dados.length > 0")
        thead.thead
          tr
            th.col-md-6 {{recorteSelecionado}}
            th.col-md-6.text-right {{campoPesquisa.nome}}
        paginate.paginate-list(name='dados', :per='5', :tag="'tbody'", :list='dados')
          tr(v-for="item in paginated('dados')")
            td.col-md-6 {{item.nome}} {{item.ap }}
            td.col-md-6.text-right {{item.total}}
        paginate-links(for="dados", :limit="3" :show-step-links="true" :hide-single-page="true", :classes="{'ul': 'simple-links-container','ul > li': 'next-link','.prev > a': ['prev-link', 'another-class'] }")
</template>

<script>
  import DataService from './../services/dataService'
  const dataService = new DataService()
  export default {
    props: ['tipoCenso', 'ultimaVisao', 'campoPesquisa'],
    data () {
      return {
        dados: [],
        paginate: ['dados'],
        line: [],
        campoSelecionado: '',
        recorteSelecionado: ''
      }
    },
    watch: {
      tipoCenso: function (val) {
        this.init()
      },
      ultimaVisao: function (val) {
        this.init()
      },
      campoPesquisa: function (val) {
        this.init()
      }
    },
    mounted () {
      if (this.tipoCenso >= 0) {
        this.init()
      }
    },
    methods: {
      init () {
        let periodo = []
        let codigoCenso = ''
        switch (this.tipoCenso) {
          case 0:
            codigoCenso = 'CodAP'
            this.recorteSelecionado = 'Área de Planejamento'
            break
          case 1:
            codigoCenso = 'CodBairro'
            this.recorteSelecionado = 'Bairro'
            break
          case 2:
            codigoCenso = 'CodRA'
            this.recorteSelecionado = 'Região Administrativa'
            break
        }
        let campo = this.campoPesquisa !== undefined ? this.campoPesquisa.codigo : ''
        dataService.buscarCensoPorTipo(this.tipoCenso, this.ultimaVisao, codigoCenso, campo).then(response => {
          response.features.sort(function (a, b) { return a.attributes.CodAP - b.attributes.CodAP })
          if (response.features) {
            response.features.forEach(function (item) {
              periodo.push(item.attributes.Periodo)
            }, this)
            periodo.sort(function (a, b) { return a - b })
            periodo = this._.uniqBy(periodo)
            if (!Number(this.ultimaVisao)) {
              this.$emit('ultimaVisao', periodo)
            }
          }
          if (this.tipoCenso !== undefined && this.ultimaVisao !== 'Selecione um ano...' && this.campoPesquisa !== undefined) {
            response.features.sort(function (a, b) { return a.attributes[codigoCenso] - b.attributes[codigoCenso] })
            this.carregarTabela(response.features)
          }
        })
      },
      carregarTabela (dados) {
        this.dados = []
        this.line = []
        let atributo = ''
        let codigo = ''
        let nomeCodigo = ''
        switch (this.tipoCenso) {
          case 0:
            codigo = 'CodAP'
            nomeCodigo = 'AP '
            atributo = 'attributes.CodAP'
            break
          case 1:
            codigo = 'CodBairro'
            nomeCodigo = 'BA '
            atributo = 'attributes.CodBairro'
            break
          case 2:
            codigo = 'CodRA'
            nomeCodigo = 'RA '
            atributo = 'attributes.CodRA'
            break
        }
        let areaPlanejamento = this._.sortedUniq(this._.map(dados, atributo))
        areaPlanejamento.sort((a, b) => a - b)
        dados.forEach((item) => {
          let valor = item.attributes[this.campoPesquisa.codigo]
          let nome = item.attributes[codigo]
          let valores = {
            ap: nome,
            nome: nomeCodigo,
            total: valor
          }
          let line = [nomeCodigo + nome, valor]
          this.dados.push(valores)
          if (this.line.length <= 5) {
            this.line.push(line)
          }
        })
      }
    }
  }
</script>

<style scoped>
.simple-links-container > li{
  display: inline-block !important;
  margin: 0 10px !important;

}
.next-link{
  color:red;
}
ul.paginate-links{
  list-style-type: none;
  padding: 0;
  min-width: 230px;
  cursor: pointer;
}
li.paginate-links {
  display: inline-block !important;
  margin: 0 10px !important;
}
  .row {
      display: flex;
      align-items: center;
  }
  .small {
    max-width: 600px;
    margin:  150px auto;
  }
	.loader {
		border: 5px solid #f3f3f3;
		border-top: 5px solid #7bafad;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		-webkit-animation: spin-data-v-4594ac67 1.5s linear infinite;
		animation: spin-data-v-4594ac67 1.5s linear infinite;
		margin :auto;
	}
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
  a {
    color:white;
  }
  
</style>