<template lang="pug">
.row
    .col-md-12.text-center(v-if="tipoCenso == undefined || ultimaVisao == 'Selecione um ano...' || campoPesquisa == undefined")
      i.text-center Você ainda não selecionou nenhuma opção de busca.
    .col-md-12.text-right
     download-excel(:data='linhasExcel', :fields='json_permanentes', name='BDA-tabela.xls', class="exportar", v-if="tipoCenso >= 0 && ultimaVisao !== 'Selecione um ano...' && total.permanentes > 0")
      | Exportar dados
     download-excel(:data='linhasExcel', :fields='json_improvisados', name='BDA-tabela.xls', class="exportar", v-if="tipoCenso >= 0 && ultimaVisao !== 'Selecione um ano...' && total.improvisados > 0")
      | Exportar dados
     download-excel(:data='linhasExcel', :fields='json_coletivos', name='BDA-tabela.xls', class="exportar", v-if="tipoCenso >= 0 && ultimaVisao !== 'Selecione um ano...' && total.coletivos > 0")
      | Exportar dados
     download-excel(:data='linhasExcel', :fields='json_particulares', name='BDA-tabela.xls', class="exportar", v-if="tipoCenso >= 0 && ultimaVisao !== 'Selecione um ano...' && total.particulares > 0")
      | Exportar dados
    .col-md-12(v-if="tipoCenso >= 0 && ultimaVisao !== 'Selecione um ano...' && campoPesquisa !== undefined")
      .loader(v-if="dados.length == 0 && ultimaVisao == 'Selecione um ano...' && campoPesquisa == undefined")
      table#tabela.table.table-striped(v-if="dados.length > 0")
          thead.thead
            tr
              th.col-md-4 Área de Planejamento
              th.col-md-7.text-right Período
              th.col-md-1.text-right(v-if="total.permanentes > 0") Permanentes
              th.col-md-1.text-right(v-if="total.improvisados > 0") Improvisados
              th.col-md-1.text-right(v-if="total.coletivos > 0") Coletivos
              th.col-md-1.text-right(v-if="total.particulares > 0") Particulares
          tbody
            tr(v-for="item in dados")
              td.col-md-4 {{item.attributes.nome}}
              td.col-md-7.text-right {{item.attributes.Periodo}}
              td.col-md-1.text-right(v-if="item.attributes.PartPermanentes > 0") {{item.attributes.PartPermanentes}}
              td.col-md-1.text-right(v-if="item.attributes.PartImprovisados > 0") {{item.attributes.PartImprovisados}}
              td.col-md-1.text-right(v-if="item.attributes.Coletivos > 0") {{item.attributes.Coletivos}}
              td.col-md-1.text-right(v-if="item.attributes.TotalParticulares > 0") {{item.attributes.TotalParticulares}}
          tbody
            tr.total
              td.col-md-4 {{dados.length}}
              td.col-md-4.text-right
              td.col-md-4.text-right(v-if="total.permanentes > 0") {{total.permanentes}}
              td.col-md-4.text-right(v-if="total.improvisados > 0") {{total.improvisados}}
              td.col-md-4.text-right(v-if="total.coletivos > 0") {{total.coletivos}}
              td.col-md-4.text-right(v-if="total.particulares > 0") {{total.particulares}}


</template>

<script>
  import DataService from './../services/dataService'
  const dataService = new DataService()

  export default {
    props: ['tipoCenso', 'ultimaVisao', 'campoPesquisa', 'exportar'],
    data () {
      return {
        dados: [],
        json_permanentes: {
          'Área de Planejamento': 'String',
          'Permanentes': 'Number'
        },
        json_improvisados: {
          'Área de Planejamento': 'String',
          'Improvisados': 'Number'
        },
        json_coletivos: {
          'Área de Planejamento': 'String',
          'Coletivos': 'Number'
        },
        json_particulares: {
          'Área de Planejamento': 'String',
          'Particulares': 'Number'
        },
        total: {
          permanentes: 0,
          improvisados: 0,
          coletivos: 0,
          particulares: 0
        },
        linhasExcel: []
      }
    },
    watch: {
      tipoCenso: function (val) {
        this.init()
      },
      ultimaVisao: function (val) {
        this.init()
      },
      campoPesquisa: function (val) {
        this.init()
      },
      exportar: function (val) {
        this.exportarTabela()
      }
    },
    mounted () {
      if (this.tipoCenso >= 0) {
        this.init()
      }
    },
    methods: {
      init () {
        let nomeCod = ''
        let codigoCenso = ''
        switch (this.tipoCenso) {
          case 0:
            nomeCod = 'AP '
            codigoCenso = 'CodAP'
            break
          case 1:
            nomeCod = 'BA '
            codigoCenso = 'CodBairro'
            break
          case 2:
            nomeCod = 'RA '
            codigoCenso = 'CodRA'
            break
        }
        let campo = this.campoPesquisa !== undefined ? this.campoPesquisa.codigo : ''
        dataService.buscarCensoPorTipo(this.tipoCenso, this.ultimaVisao, codigoCenso, campo).then(response => {
          this.total = {
            permanentes: 0,
            improvisados: 0,
            coletivos: 0,
            particulares: 0
          }
          if (response.features) {
            let periodo = []
            response.features.forEach(function (item) {
              periodo.push(item.attributes.Periodo)
            }, this)
            periodo.sort(function (a, b) { return a - b })
            periodo = this._.uniqBy(periodo)
            if (!Number(this.ultimaVisao)) {
              this.$emit('ultimaVisao', periodo)
            }
          }
          if (this.tipoCenso !== undefined && this.ultimaVisao !== 'Selecione um ano...' && this.campoPesquisa !== undefined) {
            this.dados = response.features
            this.linhasExcel = []
            this.dados.sort(function (a, b) { return a.attributes[codigoCenso] - b.attributes[codigoCenso] })
            this.dados.forEach(function (item) {
              item.attributes.nome = nomeCod + item.attributes[codigoCenso]
              this.total.permanentes += item.attributes.PartPermanentes || 0
              this.total.improvisados += item.attributes.PartImprovisados || 0
              this.total.coletivos += item.attributes.Coletivos || 0
              this.total.particulares += item.attributes.TotalParticulares || 0
              let linhaExcel = { }
              linhaExcel['Área de Planejamento'] = nomeCod + item.attributes[codigoCenso]
              if (item.attributes.PartPermanentes) {
                linhaExcel['Permanentes'] = item.attributes.PartPermanentes
              }
              if (item.attributes.PartImprovisados) {
                linhaExcel['Improvisados'] = item.attributes.PartImprovisados
              }
              if (item.attributes.Coletivos) {
                linhaExcel['Coletivos'] = item.attributes.Coletivos
              }
              if (item.attributes.TotalParticulares) {
                linhaExcel['Particulares'] = item.attributes.TotalParticulares
              }
              this.linhasExcel.push(linhaExcel)
            }, this)
          }
        })
      },
      exportarTabela () {
        setTimeout(function () {
          document.getElementsByClassName('exportar')[0].click()
        }, 1000)
      }
    }
  }
</script>

<style scoped lang="stylus">
  .chart {
    margin: auto auto;
  }
  .total {
    background-color: #b3b3b3 !important;
    color:white;
    font-weight: bold;
  }
	.loader {
		border: 5px solid #f3f3f3;
		border-top: 5px solid #7bafad;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		-webkit-animation: spin-data-v-4594ac67 1.5s linear infinite;
		animation: spin-data-v-4594ac67 1.5s linear infinite;
		margin :auto;
	}
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
</style>