<template lang="pug">
#app
  #mySpinner.spinner(v-if="loading")
    h1 Max
  menu-header
  menu-bda
  mapa
  bda-footer
  .modal-primeiroacesso
    .modal.fade(tabindex='-1', role='dialog' id="visualizarMensagemModal")
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h3.modal-title(class="titulo") Seja bem-vindo ao BDA!
          .modal-body
            p Esta aplicação realiza tabulações de dados da cidade do Rio de Janeiro, por Áreas de Planejamento, Regiões Administrativas, Bairros, Setores Censitários e Favelas.
            p Permite também a geração de gráficos e mapas temáticos e customizados.
            p Facilita o acesso a diversas bases, oriundas de cadastros administrativos, censos demográficos, indicadores urbanos e índices urbanos, entre outros.
            p Permite ainda, a comparação de séries históricas, segundo a divisão administrativa territorial. check
          .modal-footer
            .row 
              .col-md-8.text-left
                .checkbox
                  label
                    input(type='checkbox', @click="naoDesejo = !naoDesejo")
                    |  Não desejo visualizar novamente essa mensagem.
              .col-md-4
                button.btn.btn-primary(type='button', @click="visualizarMensagem()")
                  .row 
                    .col-md-2.col-icon
                      icon(name='check' scale="1", class="icon-prosseguir")
                    .col-md-2
                      | Prosseguir
</template>

<script>
export default {
  data: () => {
    return {
      loading: false,
      img: 'https://armazemdados.img.com.br/bda/static/img/rio-de-janeiro.jpg',
      naoDesejo: false
    }
  },
  mounted () {
    let primeiroAcesso = localStorage.getItem('primeiroAcesso')
    if (primeiroAcesso === 'false' || primeiroAcesso === undefined || primeiroAcesso === null) {
      window.jQuery('#visualizarMensagemModal').modal('show')
    }
  },
  methods: {
    visualizarMensagem () {
      localStorage.setItem('primeiroAcesso', this.naoDesejo)
      window.jQuery('#visualizarMensagemModal').modal('toggle')
    }
  }
}
</script>
	
<style lang="stylus">
  li {
    display: inline-block;
    margin: 0 10px;
  }
  .modal-primeiroacesso {
    .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
      color: #fff;
      background-color: #77abab;
      border-color: #77abab;
    }
    .btn-primary {
        color: #fff;
        background-color: #77abab;
        border-color: #77abab;
    }
    p{
      font-weight: bold;
    }
    .modal-body {
      padding: 25px;
    }
    .modal{
      -webkit-border-radius: 100px !important;
      -moz-border-radius: 100px !important;
      border-radius: 100px !important; 
    } 
    .btn-primary:focus, .btn-primary.focus {
        outline: initial;
    }
    .col-icon{
      padding-top: 2px;
    }
    .btn-primary.active, .btn-primary:active, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #3d5757;
        border-color: #3d5757;
    }
  }
	body {
		background-color: #f2f5f5;
	}

	/*css tabela de todo o sistema*/
	table {
		background-color: #f2f5f5;
	}
	.thead{
		background-color: #7bafad;
		color: white;
	}
	.table > thead > tr > th {
		border-bottom: 0px solid #ddd;
	} 
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		border-top: 2px solid white;
	}
	@keyframes spinner {
		to {transform: rotate(360deg);}
	}
	.spinner:before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		margin-left: -10px;
		border-radius: 50%;
		border: 2px solid transparent;
		border-top-color: #07d;
		border-bottom-color: #07d;
		animation: spinner .8s ease infinite;
	}
	/* li {
		display: inline-block;
		margin: 0 10px;
		cursor: pointer;
		min-width: 209px;
	}	 */
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		font-size: 11px;
	}
</style>
